*.*~
!.gitignore
!index.html

#Commonly modified files
config.php
admin/config.php
download
backup
system/cache
system/logs
vq/
vqgen/
vqmod/vqmod.log
vqmod/vqcache
catalog/view/theme/*
!catalog/view/theme/default
.user.ini
image/cache
image/data/*
!image/data/demo
*.sublime-workspace
*.sublime-project
